# macOS
.DS_Store

# Xcode
build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcschemes/
xcuserdata/
DerivedData/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
*.d

# Swift PM
.swiftpm/

